.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup__icon {
    color: var(--container-color);
    font-size: 1.5rem;
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

/*Show-scroll */

.show-scroll {
    bottom: 3rem;
}